.aboutassociation {
  width: 100%;
  .about-title {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    line-height: 81px;
    color: white;
    margin-bottom: 2rem;
    margin-top: 72px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .line_horizontal-1 {
      background-color: white;
      color: white;
      position: absolute;
      width: 90%;
      height: 1px;
      left: 1.9%;
      top: 72.9%;
      border: 2px;
    }
    .line_horizontal-2 {
      background-color: white;
      color: white;
      position: absolute;
      width: 90%;
      height: 1px;
      left: 1.9%;
      top: 47.7%;
      border: 2px;
    }
    .line_vertical-1 {
      background-color: white;
      color: white;
      -webkit-transform: rotate(90deg);
      position: absolute;
      width: 22.9%;
      height: 1px;
      left: 34.9%;
      top: 67.5%;
      border: 2px;
    }

    .about-row {
      display: inline-grid;
      grid-template-columns: auto auto auto;
      border: 1px solid white;

      // display: inline-flex;
      // text-align: left;

      .about-column-1 {
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        .column-1-img1 {
          img {
            border: 1px solid white;
            width: 94%;
          }
        }

        .column-1-img2 {
          img {
            border: 1px solid white;
            width: 31rem;
            margin-right: 2rem;
          }
        }

        .about-desc {
          width: 100%;
          font-weight: normal;
          font-size: 14px;
          line-height: 32px;
          width: 91%;
          color: white;
        }
      }

      .about-column-2 {
        border-right: 1px solid white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        .about-desc-2 {
          margin-top: 2rem;
          font-size: 14px;
          width: 58%;
          margin-right: 42rem;
          color: white;
        }

        .column-2-img {
          img {
            width: 46%;
            margin-top: 4rem;
          }
        }

        .buttom-desc {
          width: 50%;
          font-size: 14px;
          margin-right: 25rem;
          margin-top: 2rem;
          color: white;
        }
      }
    }
    .box {
      position: absolute;
      left: 92%;
      top: 0%;
      width: 142px;
      height: 447.9px;
      box-sizing: border-box;
      border: 1px solid white;
      background: linear-gradient(
        91.36deg,
        rgba(255, 0, 255, 0.15) 1.4%,
        rgba(255, 0, 255, 0) 99.1%
      );
    }
  }
}
