@import "../global.scss";

.aboutassociation {
  .container {
    max-width: 1200px;
    width: 100%;
    position: relative;

    .about-title {
      text-align: center;
      font-weight: 300;
      font-size: 40px;
      line-height: 81px;
      color: white;
      margin-bottom: 12rem;
      margin-top: 72px;
    }

    .line_horizontal-1 {
      background-color: $primary-color5;
      color: $primary-color5;
      position: absolute;
      width: 110.9%;
      height: 1px;
      left: -10.5%;
      top: 91.8%;
      border: 2px;
    }
    .line_horizontal-2 {
      background-color: $primary-color5;
      color: $primary-color5;
      position: absolute;
      width: 110.9%;
      height: 1px;
      left: -10.5%;
      top: 19.2%;
      border: 2px;
    }
    .line_horizontal-3 {
      background-color: $primary-color5;
      color: $primary-color5;
      position: absolute;
      width: 110.9%;
      height: 1px;
      left: -10.5%;
      top: 61.7%;
      border: 2px;
    }

    .about-row {
      display: flex;
      align-items: center;
      justify-content: center;

      .about-column-1 {
        position: relative;
        .column-1-img1 {
          img {
            max-width: 480px;
            width: 100%;
            position: absolute;
            top: -63%;
            left: 0%;
            border: 1px solid white;
          }
        }
        .about-desc {
          max-width: 518px;
          width: 100%;
          font-weight: normal;
          font-size: 16px;
          line-height: 32px;
          color: $primary-color5;
          margin-top: 72px;
          margin-bottom: 80px;
          
        }
        .column-1-img2 {
          img {
            max-width: 500px;
            width: 100%;
            position: absolute;
            top: 89%;
            left: 0%;
            border: 1px solid white;
          }
        }
      }

      .about-column-2 {
        position: relative;
        .about-desc-2 {
          max-width: 542px;
          width: 100%;
          font-weight: normal;
          font-size: 16px;
          line-height: 32px;
          color: $primary-color5;
          padding-left: 10px;
          position: absolute;
          top: -195%;
          left: 0%;
        }

        .column-2-img {
          position: relative;
          img {
            width: 68%;
            padding-left: 5px;
          }
        }

        .buttom-text {
          .buttom-desc {
            max-width: 542px;
            width: 100%;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            color: $primary-color5;
            padding-left: 32px;
            position: absolute;
            top: 10rem;
          }
        }
      }
    }
  }
}
