@import "../global.scss";

.card {
  width: 100%;

  .container-card {
    background-color: transparent;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;

    .top-title {
      text-align: center;
      font-weight: 300;
      font-size: 40px;
      line-height: 81px;
      margin-top: 192px;
      margin-bottom: 72px;
      color: white;

      @include mobile {
        font-size: 26px;
        line-height: 36px;
        margin-top: 24px;
        margin-bottom: 24px;
      }
    }
    .line_horizontal-1 {
      background-color: white;
      color: white;
      position: absolute;
      width: 100%;
      height: 1px;
      left: 46.4%;
      top: 23.4%;
      border: 2px;
      @include mobile {
        display: none;
      }
    }
    .line_horizontal-2 {
      background-color: white;
      color: white;
      position: absolute;
      width: 100%;
      height: 1px;
      left: 46.4%;
      top: 48.6%;
      border: 2px;
      @include mobile {
        display: none;
      }
    }
    .line_horizontal-3 {
      background-color: white;
      color: white;
      position: absolute;
      width: 100%;
      height: 1px;
      left: 46.4%;
      top: 73.8%;
      border: 2px;
      @include mobile {
        display: none;
      }
    }
    .line_horizontal-4 {
      background-color: white;
      color: white;
      position: absolute;
      width: 100%;
      height: 1px;
      left: -77%;
      top: 23.4%;
      border: 2px;
      @include mobile {
        display: none;
      }
    }
    .line_horizontal-5 {
      background-color: white;
      color: white;
      position: absolute;
      width: 100%;
      height: 1px;
      left: -77%;
      top: 48.6%;
      border: 2px;
      @include mobile {
        display: none;
      }
    }
    .line_horizontal-6 {
      background-color: white;
      color: white;
      position: absolute;
      width: 100%;
      height: 1px;
      left: -77%;
      top: 73.8%;
      border: 2px;
      @include mobile {
        display: none;
      }
    }
    .row-2 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: 50px;
      grid-template-rows: 22.2rem 22.2rem 22rem;

      @include mobile {
        display: inline;
        grid-template-columns: auto auto;
        grid-template-rows: 17rem;
      }

      .column {
        display: block;
        border: solid 1px;
        // width: 282px;
        // height: 356px;
        color: rgba(255, 255, 255, 0.541);
        background-color: black;
        @include mobile {
          border: 1px solid rgba(255, 255, 255, 0.541) ;
        }
        &:nth-child(5n - 1) {
          grid-column: 2;

          @include mobile{
            display: block;
          }
        }

        &:nth-child(6n + 1) {
          grid-column: 1;
          @include mobile{
            display: block;
          }
          
        }
        &:nth-child(9n) {
          grid-column: 3;

          @include mobile{
            display: block;
          }
        }

        
        .card-title {
          margin: 0;
          padding-left: 24px;
          @include mobile {
            margin-top: 20px;
          }
          p {
            text-align: left;
            

          }
        }

        .social-icons {
          color: rgba(255, 255, 255, 0.541);
          a:not([href]) {
            cursor: default !important;
          }
          text-align: left;
          padding-left: 24px;
          display: flex;
              gap: 17px;
              @include mobile {
                gap: 5px;
              }

          .icons {
      
            width: 30px;
            height: 30px;

            @include mobile {
              margin-left: 0px;
              margin-right: 4px;
             width: 20px;
             height: 20px;
              margin-top: -2rem;
            }
           
          }
        }

        @include mobile {
          width: 250px;
          height: 307px;
        }
      }
    }
  }
}
.card-img {
  height: 60%;
  width: 100%;
  .card-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.card-body {
  margin: 0;
  width: auto !important;
  padding: unset !important;
  display: flex;
  flex-direction: column;
  height: 100px !important;
}
.founder_name {
  color: white;
  margin-top: 40px;
  margin-bottom: unset;

  @include mobile {
    margin-top: 5px;
  }
}
.founder_company {
  color: white;
  opacity: 0.6;
  margin-top: 5px;
  text-align: left;
}
.founder_position {
  position: absolute;
  padding-top: 2px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 2px;
  background: white;
  
  p {
   color: black;
   font-size: 16px;
   margin: 0;
  }
  @include mobile {
   padding-top: 1px;
   padding-right: 8px;
   padding-left: 8px;
   padding-bottom: 1px;
   
   p {
     font-size: 11px;
   }
  }
}