@import "../global.scss";

#main-slider-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 4rem;

  .slider-icon.left {
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;

    & {
      left: -4%;
      top: 44%;
      color: $primary-color5;
      z-index: 9999;
    }

    &:hover {
      opacity: 1;
    }
  }

  .slider-icon.right {
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;

    & {
      right: -4%;
      top: 44%;
      color: $primary-color5;
    }

    &:hover {
      opacity: 1;
    }
  }

  #slider {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;

    @include mobile {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 1px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .slider-card {
      width: 320px;
      height: 381px;
      background: rgba(37, 37, 37, 0.6);
      border: 1px solid white;
      display: inline-block;
      margin-left: 10px;

      @include mobile {
        width: 138px;
        height: 186px;
      }

      &-title {
        margin: 40px 0px 5px 10px;
        font-weight: 100;
        font-size: 24px;
        line-height: 24px;
        margin-top: 18px;
        color: white;
      }

      &-description {
        margin: 5px 0px 5px 24px;
        font-size: 24px;
        line-height: 24px;
        color: white;

        @include mobile {
          font-size: 12px;
          line-height: 8px;
          margin-left: 1rem;
        }
      }
      & :hover {
        img {
          filter: none;
        }
      }
      .position {
        position: absolute;
        top: -6rem;
        /* min-width: 100px; */
        left: -3rem;
        box-sizing: border-box;
        background: white;
        color: black;
        padding-right: -1px;
        display: inline-block;
        padding-left: 13px;
        padding-right: 13px;
      }

      
.pagination {.social-icons {
        margin-top: 20px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.541);
        a:not([href]) {
          cursor: default !important;
        }

        @include mobile {
          margin-left: -25px;
        }

        .icons {
          margin-left: 10px;

          @include mobile {
            margin-left: 0px;
            height: 18px;
            margin-top: -3rem;
          }
        }
      }
    }
  }
}
  display: none !important;
  padding-left: 0;
  list-style: none;

  @include mobile {
    display: flex !important;
    margin-top: 2rem;
    position: absolute;
    left: 8rem;

    li a {
      box-sizing: border-box;
      border: solid 1px white;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
  }

  .previous.disabled {
    @include mobile {
    }
  }

  .next.disabled {
    font-size: 1rem;
  }
}
.slider-card {
  img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
    &:hover {
      filter: none;
    }
  }
}

.img_container_main {
  height: 60%;
}
.slider-card-company {
  margin-left: 24px;
  color: white;
  opacity: 0.6;

  @include mobile {
    margin-left: 15px;
    font-size: 11px;
  }
}
