@import "../global.scss";

.content {
  margin-top: 72px;
  position: relative;

  h2 {
    font-weight: 300;
    font-size: 47px;
    line-height: 81px;
    color: $primary-color5;
    text-align: center;
  }

  .horizontal-line {
    .line_horizontal-1 {
      background-color: $primary-color5;
      color: $primary-color5;
      position: absolute;
      width: 106.9%;
      height: 1px;
      left: -1.5%;
      top: 92.8%;
      border: 2px;
    }
    .line_horizontal-2 {
      background-color: $primary-color5;
      color: $primary-color5;
      position: absolute;
      width: 106.9%;
      height: 1px;
      left: -1.5%;
      top: 21%;
      border: 2px;
    }
  }
  .container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    .line_horizontal-3 {
      background-color: $primary-color5;
      color: $primary-color5;
      position: absolute;
      width: 100%;
      width: 107%;
      height: 1px;
      left: -5%;
      top: 45%;
      border: 2px;
    }

    .vertical {
      .line_vertical-1 {
        background-color: $primary-color5;
        color: $primary-color5;
        -webkit-transform: rotate(90deg);
        position: absolute;
        width: 57.6%;
        height: 1px;
        left: 21.5%;
        top: 41.5%;
        border: 2px;
      }

      .line_vertical-2 {
        background-color: $primary-color5;
        color: $primary-color5;
        -webkit-transform: rotate(90deg);
        position: absolute;
        width: 57.6%;
        height: 1px;
        left: -33.8%;
        top: 41%;
        border: 2px;
      }
      .line_vertical-3 {
        background-color: $primary-color5;
        color: $primary-color5;
        -webkit-transform: rotate(90deg);
        position: absolute;
        width: 57.6%;
        height: 1px;
        left: 73.4%;
        top: 41.6%;
        border: 2px;
      }
    }
    .content_info {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 140px;
      row-gap: 100px;
      margin-top: 15%;

      h3 {
        font-weight: 300;
        font-size: 40px;
        line-height: 49px;
        display: flex;
        align-items: center;
        color: $primary-color5;
      }

      p {
        height: 190px;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        color: $primary-color5;
        margin-top: 24px;
      }
    }
  }
}
