@import "../global.scss";

.content {
  margin-top: 525px;
  position: relative;
  width: 100%;

  h2 {
    font-weight: 300;
    font-size: 47px;
    line-height: 81px;
    color: white;
    text-align: center;

    @include mobile {
      margin-top: 2rem;
      font-size: 25px;
      line-height: 37px;
    }
  }

  .horizontal-line {
    .line_horizontal-1 {
      background-color: white;
      color: white;
      position: absolute;
      width: 106.9%;
      height: 1px;
      left: -1.5%;
      top: 92.8%;
      border: 2px;

      @include mobile {
        top: 49.8%;
      }
    }
    .line_horizontal-2 {
      background-color: white;
      color: white;
      position: absolute;
      width: 106.9%;
      height: 1px;
      left: -1.5%;
      top: 22.5%;
      border: 2px;

      @include mobile {
        top: 9.5%;
      }
    }

    .line_horizontal-4 {
      @include mobile {
        background-color: white;
        color: white;
        position: absolute;
        width: 106.9%;
        height: 1px;
        left: -1.5%;
        top: 72.5%;
        border: 2px;
      }
    }
    .line_horizontal-5 {
      @include mobile {
        background-color: white;
        color: white;
        position: absolute;
        width: 106.9%;
        height: 1px;
        left: -1.5%;
        top: 93.5%;
        border: 2px;
      }
    }
  }
  .container {
    max-width: 1200px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
    .line_horizontal-3 {
      background-color: white;
      color: white;
      position: absolute;
      width: 100%;
      width: 102%;
      height: 1px;
      left: -2%;
      top: 45%;
      border: 2px;

      @include mobile {
        width: 155%;
        left: -15%;
        top: 16%;
      }
    }

    .vertical {
      .line_vertical-1 {
        background-color: white;
        color: white;
        -webkit-transform: rotate(90deg);
        position: absolute;
        width: 53.5%;
        height: 1px;
        left: 21.5%;
        top: 39.6%;
        border: 2px;

        @include mobile {
          display: none;
        }
      }

      .line_vertical-2 {
        background-color: white;
        color: white;
        -webkit-transform: rotate(90deg);
        position: absolute;
        width: 53.6%;
        height: 1px;
        left: -28.8%;
        top: 40%;
        border: 2px;

        @include mobile {
          width: 229.6%;
          left: -116.6%;
          top: 43.8%;
        }
      }
      .line_vertical-3 {
        background-color: white;
        color: white;
        -webkit-transform: rotate(90deg);
        position: absolute;
        width: 53.6%;
        height: 1px;
        left: 73.4%;
        top: 39.6%;
        border: 2px;

        @include mobile {
          width: 229.6%;
          left: -13.6%;
          top: 43.8%;
        }
      }
    }
    .content_info {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 29px;
      row-gap: 100px;
      margin-top: 15%;

      @include mobile {
        grid-template-columns: auto;
        row-gap: 0px;
      }

      h3 {
        font-weight: 200;
        font-size: 25px;
        line-height: 49px;
        /* display: flex; */
        align-items: center;
        color: white;
        text-align: left;

        @include mobile {
          font-weight: 500;
          font-size: 20px;
          line-height: 22px;
          align-items: center;
          color: white;
          text-align: left;
        }
      }

      p {
        height: 120px;
        font-weight: 200;
        font-size: 14px;
        line-height: 24px;
        color: white;
        margin-top: 22px;
        text-align: left;

        @include mobile {
          line-height: 20px;
        }
      }
    }
  }
}
