@import "../global.scss";

.content {
  margin-top: 75px;
  position: relative;
  width: 100%;

  @include mobile {
    margin-bottom: 21px;
  }

  h2 {
    font-weight: 300;
    font-size: 47px;
    line-height: 81px;
    color: white;
    text-align: center;

    @include mobile {
     
      font-size: 25px;
      line-height: 37px;
    }
  }
  

  .container {
    max-width: 1200px;
    text-align: center;
    
    position: relative;

    
    .content_info {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 0px;
      row-gap: 0px;
      margin-top: 75px;

      .line {
        
        border: 1px solid white;
        padding-left: 72px;
        padding-top: 50px;
        padding-right: 100px;
        padding-bottom: 53px;
        width: 100%; 
        height: 100%;

        @include mobile {
          border: 0.5px solid white;
          padding-top: 1rem;
          padding-left: 11px;
          padding-bottom: 12px;
        }
      }

      @include mobile {
        grid-template-columns: auto;
        row-gap: 0px;
      }

      h3 {
        font-weight: 200;
        font-size: 25px;
        line-height: 49px;
        /* display: flex; */
        align-items: center;
        color: white;
        text-align: left;

        @include mobile {
          font-weight: 500;
          font-size: 20px;
          line-height: 22px;
          align-items: center;
          color: white;
          text-align: left;
        }
      }

      p {
        // height: 120px;
        
        font-size: 14px;
        line-height: 24px;
        color: white;
        // margin-top: 22px;
        text-align: left;
        margin-bottom: 0;

        @include mobile {
          // height: 96px;
          line-height: 20px;
        }
      }
    }
  }
}
