@import "../global.scss";

.event-section__element {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-auto-flow: dense;
  column-gap: 20px;

  @include mobile {
    grid-template-columns: 1fr;
  }

  .main-event__info {
    width: 100%;

    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      @include mobile {
        padding: 20px;
      }

      div {
        margin: 0;
      }
    }

    p {
      white-space: pre-line;
      display: -webkit-box;
      margin-bottom: 0;
      -webkit-line-clamp: 7;
      overflow: hidden;
      -webkit-box-orient: vertical;
      color: white;
      text-align: start;
      font-size: 16px;
      line-height: unset;

      @include mobile {
        font-size: 14px;
      }
    }
    h4 {
      font-size: 28px;
      color: white;
      text-align: start;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical;
      margin-bottom: 15px;

      @include mobile {
        font-size: 19px;
      }
    }
    button {
      font-size: 18px;
      min-width: 40%;
      max-width: 200px;
      margin-top: 5px;
      padding: 2px;

      @include mobile {
        margin-top: 20px;
      }
    }
  }
  .fullHeight {
    background-color: #050505;
    // display: block !important;
    height: auto !important;
    position: relative;
    min-height: 100%;
    z-index: 10;
    text-align: start;
    padding-bottom: 10px;
    border-radius: 12px;
    outline: 1px solid #00fffe;
    p,
    h4 {
      position: relative;
      display: block;
      z-index: 10;
    }
  }
  .main-event__image-album {
    align-self: flex-start;
    // overflow: hidden;
    width: 100%;
    // min-height: 100%;
    // height: auto;
    height: 300px;
    @include mobile {
      height: 300px;
    }

    .control-arrow {
      opacity: 0.8;
    }
    .control-prev:before {
      border-right: 8px solid #00fffe;
    }
    .control-next:before {
      border-left: 8px solid #00fffe;
    }
    .carousel-root {
      height: 100%;
    }
  }
}

.carousel img {
  height: 300px;
  width: 100%;
  @include mobile {
   height: 90%;
   width: 80%;
   margin: 0
  }
}
.event-section__element1 {
  border-right: 1px solid white;
  @include mobile {
    border-right: none
  }
}
.event-section__element0 {
  border-left: 1px solid white;
  @include mobile { 
    border-left: none;
  }

  .main-event__info {
    grid-column-start: 2;
    grid-row-start: 1;

    @include mobile {
      grid-column-start: 1;
      grid-row-start: none;
    }
  }
  .main-event__image-album {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
.carousel-root {
  ul {
    li {
      padding-right: unset !important;
      transform: unset !important;
      transition: initial !important;
      opacity: 1 !important;
      padding: 0;
    }
  }
}
