@import "../global.scss";



.header {
  padding: 2rem;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  &__title {
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
  }

  &__search {
    input {
      position: absolute;
      top: 194%;
      left: 5%;
      background: transparent;
      border: 1px solid linear-gradient(270deg, #9cd79a 0%, #78cf84 103.79%);
      padding: 1rem 2rem;
      border-radius: 10px;
      margin-left: 0rem;
      width: 60rem;
      color: white;
    }
  }
}

.sortBy {
  padding: 1rem;
  max-width: 25rem;
  margin: auto;
  margin-left: 67rem;

  .css-1okebmr-indicatorSeparator {
    display: none;
  }

  .css-1s2u09g-control {
    color: white;
    background-color: transparent;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-color: hsl(0, 0%, 80%);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;

    #placeholder {
      color: white;
    }
  }
  .css-6j8wv5-Input {
    margin: 2px;
    padding-bottom: 6px;
    padding-top: 6px;
    visibility: visible;
    color: hsl(0, 0%, 20%);
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    box-sizing: border-box;
  }

  .select-filter {
    margin-top: 1rem;
  }
}

// .loading {
//   text-align: center;
//   margin-top: 10rem;
//   font-size: 2rem;
// }

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8rem;

  .user {
    width: 30rem;
    border: 1px solid white;
    background: #212121;

    &__name {
      font-weight: 300;
      font-size: 24px;
      line-height: 24px;
      color: #fff;
      letter-spacing: 1px;
    }

    &__image {
      width: 100%;
      height: auto;
      border: none;
      margin-bottom: 2rem;
    }

    &__details {
      position: relative;
      margin-bottom: 4rem;
      span {
        display: block;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        opacity: 0.6;
        padding: 0;
        margin: 0;
        color: white;
        line-height: 1.5;
      }
      .position {
        position: absolute;
        top: -293%;
        left: 65%;
        box-sizing: border-box;
        background: white;
        color: black;
        padding-right: -1px;
        display: inline-block;
        padding-left: 13px;
        padding-right: 13px;
      }
    }
  }
}
