@import "../global.scss";

.main_page {
  width: 100%;
  height: 800px;

  .container {
    .main_background {
      position: relative;
      justify-content: center;
      align-items: center;
      text-align: center;

      .v1 {
        z-index: -1;
        position: absolute;
        width: 54%;
        height: 73%;
        left: 40%;
        top: 16%;
        background: radial-gradient(
          110.29% 110.29% at 97.66% 31.26%,
          rgba(243, 165, 205, 0.8) 0%,
          rgba(221, 51, 139, 0.639121) 20.11%,
          rgba(180, 52, 201, 0.422868) 47.14%,
          rgba(156, 79, 216, 0.220552) 74.02%,
          rgba(42, 76, 116, 0) 100%
        );
        filter: blur(80px);
        transform: matrix(0.97, -0.24, 0.24, 0.97, 0, 0);
      }

      .v2 {
        z-index: -1;
        position: absolute;
        width: 67%;
        height: 112%;
        left: 0;
        top: -85%;
        background: radial-gradient(
          110.29% 110.29% at 97.66% 31.26%,
          rgba(233, 237, 237, 0.8) 0%,
          rgba(252, 0, 252, 0.64) 20.11%,
          rgba(76, 210, 178, 0.336) 44.03%,
          rgba(11, 12, 11, 0.424) 74.02%,
          rgba(0, 0, 0, 0.8) 100%
        );
        opacity: 0.6;
        filter: blur(50px);
        transform: matrix(-1, 0.05, -0.05, -1, 0, 0);
      }

      img {
        z-index: -1;
        position: absolute;
        width: 90%;
        left: 19%;
        top: -91%;
        opacity: 2;
      }
      .group-images {
        position: absolute;
        width: 42%;
        top: 70%;
        left: 10%;

        &-img-2 {
          position: absolute;
          width: 92%;
          top: 14%;
          left: -39%;
        }
      }

      .main_text {
        margin-top: 256px;

        .main_title {
          max-width: 715px;
          width: 100%;
          color: $primary-color5;
          font-size: 60px;
          line-height: 94px;
          text-shadow: 0px 25px 30px rgba(0, 0, 0, 0.25);
          text-transform: capitalize;
        }

        .main_subtitle {
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          color: $primary-color5;
          letter-spacing: 0.15rem;
        }

        .buttons {
          display: flex;
          gap: 20px;
          justify-content: center;
          margin-top: 3rem;
          a {
            margin: 0;
          }
          .button_1 {
            margin-right: 20px;
            padding: 16px 28px;
            width: 200px;
            height: 50px;
            border-radius: 12px;
            color: $primary-color5;
            border: none;
            cursor: pointer;
            background: linear-gradient(
              270deg,
              #00fffe 0%,
              rgba(57, 162, 185, 0.88) 51.35%,
              #6060ff 100%
            );
            transition-duration: all 0.4s ease-in;

            &:hover {
              box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
                0 17px 50px 0 rgba(0, 0, 0, 0.19);
            }
          }

          .button_2 {
            transition: all 0.5s;
            width: 200px;

            & span {
              cursor: pointer;
              display: inline-block;
              position: relative;
              transition: 0.5s;
            }

            & span:after {
              content: "\00bb";
              position: absolute;
              opacity: 0;
              top: 0;
              right: -20px;
              transition: 0.5s;
            }

            &:hover span {
              padding-right: 25px;
            }
            &:hover span:after {
              opacity: 1;
              right: 0;
            }
          }
        }
      }
    }

    .scrolldown {
      --color: white;
      --sizeX: 37px;
      --sizeY: 50px;
      position: relative;
      width: var(--sizeX);
      height: var(--sizeY);
      margin-left: var(sizeX / 2);
      border: calc(var(--sizeX) / 10) solid var(--color);
      border-radius: 50px;
      box-sizing: border-box;
      margin-bottom: 16px;
      opacity: 0.56;
      margin-top: 14rem;
      cursor: pointer;
    }

    .scrolldown::before {
      content: "";
      position: absolute;
      bottom: 30px;
      left: 50%;
      width: 10px;
      height: 6px;
      margin-left: -4.5px;
      background-color: var(--color);
      border-radius: 100%;
      animation: scrolldown-anim 2s infinite;
      box-sizing: border-box;
      box-shadow: 0px -5px 3px 1px #ffffff66;
    }

    @keyframes scrolldown-anim {
      0% {
        opacity: 0;
        height: 6px;
      }
      40% {
        opacity: 1;
        height: 10px;
      }
      80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
      }
      100% {
        height: 3px;
        opacity: 0;
      }
    }
    .chevrons {
      padding: 6px 0 0 0;
      margin-left: 0px;
      margin-top: 48px;
      width: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .chevrondown {
      margin-top: -6px;
      position: relative;
      border: solid var(--color);
      border-width: 0 3px 3px 0;
      display: inline-block;
      width: 18px;
      height: 18px;
      transform: rotate(45deg);
    }
    .chevrondown:nth-child(odd) {
      animation: pulse 1000ms ease infinite alternate;
    }
    .chevrondown:nth-child(even) {
      animation: pulse 1000ms ease infinite alternate 450ms;
    }
    @keyframes pulse {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.5;
      }
    }
  }
}
