@import "../global.scss";

.info {
  display: flex;
  max-width: 1200px;
  width: 100%;
  border: 1px solid $primary-color5;

  @include mobile {
    border: none;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    border-left: 1px solid $primary-color5;
    .aki-row-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      img {
        width: 577.1px;
        height: 318px;
        position: absolute;
        top: 0%;
        left: -9.1px;

        @include mobile {
          width: 398px;
          height: 172px;
        }
      }
      .aki-desc {
        max-width: 678px;
        width: 100%;
        font-weight: normal;
        font-size: 21px;
        line-height: 32px;
        color: $primary-color5;
        padding-left: 35px;
        padding-right: 62px;
        padding-top: 72px;
        margin-right: -61px;
        padding-bottom: 72px;
        height: 368px;
        overflow: inherit;
        z-index: 9999;

        @include mobile {
          max-width: 678px;
          width: 100%;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          color: $primary-color5;
          position: absolute;
          top: 12rem;
          padding-left: 0;
          padding-right: 0;
          padding-top: 0;
          margin-right: 0;
          padding-bottom: 72px;
        }

        .text {
          background-color: #050505;
          

          @include mobile {
            z-index: 9999;
            background-color: black;
            padding-bottom: 1rem;
          }
        }

        .read-or-hide {
          color: blue;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            color: #977070;
          }
        }
      }

      .line_horizontal-1 {
        background-color: $primary-color5;
        color: $primary-color5;
        position: absolute;
        width: 102.9%;
        height: 1px;
        left: -1.5%;
        top: 78.8%;
        border: 2px;

        @include mobile {
          display: none;
        }
      }

      .line_vertical-1 {
        background-color: $primary-color5;
        color: $primary-color5;
        -webkit-transform: rotate(90deg);
        position: absolute;
        width: 47.9%;
        height: 1px;
        left: 24.5%;
        top: 68.9%;
        border: 2px;

        @include mobile {
          display: none;
        }
      }
    }

    .aki-row-2 {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 545px;
        height: 197px;
        position: absolute;
        top: 61%;
        left: 1%;

        @include mobile {
          width: 388px;
          height: 82px;
          position: absolute;
          top: 20rem;
          left: 0%;
          z-index: -2;
          border-bottom: 1px solid white;
          border-top: 1px solid white;
          padding-left: 12px;
          padding-right: 12px;
          padding-bottom: 8px;
          padding-top: 8px;
        }
      }

      .aki-desc-2 {
        width: 57%;
        font-weight: normal;
        font-size: 21px;
        line-height: 32px;
        color: $primary-color5;
        padding-top: 6px;
        margin-left: 51%;
        padding-bottom: 28px;
        height: 164px;
        overflow: inherit;
        z-index: 9999;

        @include mobile {
          width: 100%;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #fff;
          padding-top: 6px;
          position: absolute;
          top: 27rem;
          // border-bottom: 1px solid white;
          padding-left: 18px;
          left: -12rem;
        }
      }
    }

    .box {
      position: absolute;
      left: 100%;
      top: 0%;
      width: 142px;
      height: 563px;
      box-sizing: border-box;
      border-left: 1px solid $primary-color5;
      border-right: 1px solid $primary-color5;
      border-top: 1px solid $primary-color5;
      border-bottom: 1px solid $primary-color5;
      background: linear-gradient(
        91.36deg,
        rgba(255, 0, 255, 0.15) 1.4%,
        rgba(255, 0, 255, 0) 99.1%
      );
    }
  }
}
.read-or-hide {
  color: blue;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #977070;
  }
}