@import "../global.scss";

.info {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 500px;

  @include mobile {
    border: none;
    height: auto;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding: 0;
    .aki-row-1 {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height: 60%;
      border: 1px solid #C4C4C4;
      @include mobile {
        flex-direction: column;
        border: none;
        height: auto;
      }
   .aki_img {
       width: 50%;
       height: 100%;
       @include mobile {
        width: 100%;
      }
       
      img {
         width: 100%;
         height: 100%;
         filter: grayscale(100%);
         transition: all 0.3s;
         &:hover {
          filter: none;
         }
        

        @include mobile {
          filter: none;
        }
      }}
      .aki-desc {
        color: white;
        width: 50%;
        height: 100%;
        padding-left: 36px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #C4C4C4;
        p {
          margin-bottom: 0;
        }

        @include mobile {
         width: 100%;
         border-left: none;
         padding: 12px;
         border-top: 1px solid #C4C4C4;
         border-bottom: 1px solid #C4C4C4;
         font-size: 12px
        }

    
      }

    }

    .aki-row-2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 40%;
      border: 1px solid #C4C4C4;
      border-top: 0;
      @include mobile {
        flex-direction: column;
        border: none;
        height: auto;
        
      }
      .aki-img-2 {
        width: 50%;
        height: 100%;
        padding: 37px;
        @include mobile {
         width: 100%;
         padding-top: 0;
         padding-bottom: 0;
         padding-left: 20px;
         padding-right: 20px;
        }
        img {
          width: 100%;
          height: 100%;
          @include mobile {
            height: 120px;
          }
        }
        

        
      }

      .aki-desc-2 {
        color: white;
        width: 50%;
        height: 100%;
        padding-left: 36px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #C4C4C4;
        p {
          margin-bottom: 0;
        }

        @include mobile {
         width: 100%;
         border-left: none;
         padding: 12px;
         border-top: 1px solid #C4C4C4;
         border-bottom: 1px solid #C4C4C4;
         font-size: 12px
        }

      }
    }

    .box {
      position: absolute;
      left: 100%;
      top: 0%;
      width: 142px;
      height: 100%;
      box-sizing: border-box;
      border-right: 1px solid #C4C4C4;
      border-top: 1px solid #C4C4C4;
      border-bottom: 1px solid #C4C4C4;
      background: linear-gradient(
        91.36deg,
        rgba(255, 0, 255, 0.15) 1.4%,
        rgba(255, 0, 255, 0) 99.1%
      );
    }
  }
}
