@import "../global.scss";

.navigation {
  
  .navbar {
    border-bottom: 1px solid white;
    
    background-color: $primary-color;
    .container {
      margin: 0 auto;
      padding: 0px 40px 40px 40px;
      max-width: 1200px;
      width: 100%;
      padding-bottom: 0;
      background-color: $primary-color;

      .navbar-nav {
        text-transform: uppercase;
      }
    }

    select {
      &.language {
        background-color: $primary-color;
        display: block;
        margin-left: 10rem;
        color: white;
        text-transform: uppercase;
        border: none;
        outline: none;
      }
    }
  }
}
