@import "../global.scss";

.report {
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;

    button {
      background: transparent;
      border: none;
      color: $primary-color6;
      font-weight: bold;
      font-size: 35px;
      line-height: 48px;
      text-decoration-line: underline;
      padding: 15px;
      transition: all 0.5 ease-in-out;

      @include mobile{
        font-size: 20px;
      }

      &:hover{
        color: $primary-color5;
        background-color: $primary-color6;
        @include mobile {
          color: $primary-color5;
          background-color: transparent;
        }
      }
    }
    ul {
    @include mobile {
      margin: 0;
      padding: 0;
      text-align: left;
    }
    }
  
    li{
      margin-top: 30px;
      list-style: none;

      a{
        color: $primary-color5;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        transition: all 0.5s ease;
        padding: 5px 10px 5px 10px;
        @include mobile {
          font-size: 12px;
          line-height: 15px;
          padding: 2px 5px 2px 5px;
        }
        

        &:hover{
          color: $primary-color;
          background-color: $primary-color5;

        }
      }
    }
  }
}
