@import "../global.scss";

.resources_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 40vh;
}
.resourcesTitle {
  color: white;
  justify-self: center;
  align-self: center;
  font-weight: 300;
  font-size: 64px;
}

.navigation_button {
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
}
.button_container {
  display: flex;
  gap: 30px;
}
.img_container {
  display: flex;

  img {
    position: absolute;
    z-index: -1;
  }
  .nines {
    width: 70%;
    height: 80%;
    left: 20%;
    bottom: 28%;
  }
  .eclipse {
    width: 30%;
    height: 30%;
    border: none;
    outline: none;
    left: 30%;
    top: 20%;
    background: radial-gradient(
      110.29% 110.29% at 97.66% 31.26%,
      rgba(233, 237, 237, 0.8) 0%,
      rgba(252, 0, 252, 0.64) 20.11%,
      rgba(76, 210, 178, 0.336) 44.03%,
      rgba(11, 12, 11, 0.424) 74.02%,
      rgba(0, 0, 0, 0.8) 100%
    );
    opacity: 0.9;
    filter: blur(143.294px);
  }
}
