@import "../global.scss";
@import "node_modules/slick-carousel/slick/slick";



.container{
  max-width: 1400px;
  width: 100%;
}

.Carousel {
  width: 100%;
  margin: 0 auto;
  // height: 570px;
}

.slide img {
  width: 25rem;
  margin: 0 auto;
}

.slide {
  padding-right: 110rem;
  transform: scale(0.2);
  transition: transform 700ms;
  opacity: 0.5;

  @include mobile{
    padding-right: 198rem;
  }
}

.activeSlide {
  transform: scale(1.1);
  opacity: 2;
}

.arrow {
  color: white;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 500ms;
}

.arrow svg:hover {
  color: #ffffff;
}

.next {
  right: 28%;
  top: 33%;
  font-size: 3rem;
  @include mobile{
    right: 10%;
  }
}

.prev {
  left: 16%;
  top: 33%;
  font-size: 3rem;

  @include mobile{
    left: 10%;
  }
}
