@import "../global.scss";
@import "node_modules/slick-carousel/slick/slick";



.container{
  
}
.about-mobile {
  display: none ; 
  @include mobile {
    display: block;
  }
}
.about-Web {
  display: block;
  @include mobile {
    display: none;
  }
}
.Carousel {
  // width: 80vw;
  
  margin: 0;
  margin-top: 100px;
  @include mobile {
    margin-top: 50px;
  }
}

.slide {
  padding-top: 20px;
  height: 336px;
  width: 302px;
  padding: 32px;
  opacity: 0.5;


  margin: unset;
  img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
   
  }
}
.activeSlide   {
  padding-top: 0;
  width: 670px ;
  height: 350px;
  margin: unset;
  
  img {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    border-radius: 13.2484px;
    z-index: 2 !important;
    

  }
}




.arrow {
  color: white;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 500ms;
}

.arrow svg:hover {
  color: #ffffff;
}

.next {
  right: 28%;
  top: 33%;
  font-size: 3rem;
  @include mobile{
    right: 0%;
  }
}

.prev {
  left: 28%;
  top: 33%;
  font-size: 3rem;

  @include mobile{
    left: 0%;
  }
}
.mobile-slides-about img {
  height: 300px;
  width: 347px;
}
