@import "../global.scss";

.swiper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: transparent;
  padding-bottom: 40px;

  @include mobile {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 196px 196px;
    gap: 10px;
    column-gap: 10px;
  }
}

.swiper-container {
  max-width: 81vw;
  width: 100%;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  color: white;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  color: white;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  color: white;
  padding-top: 40px;
  bottom: 0px;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
}

.swiper-pagination-bullet {
  width: 21px;
  height: 27px;
  border-radius: 1%;
  box-sizing: border-box;
  border: 1px solid white;
}
