.task {
  width: 100%;
  .container {
    text-align: center;
    width: 80%;
    margin: 0 auto;

    .task-title {
      text-align: center;
      font-weight: 300;
      font-size: 40px;
      line-height: 81px;
      margin-top: 72px;
      margin-bottom: 72px;
      color: white;
    }

    .task-text {
      position: relative;

      .line_horizontal-1 {
        background-color: white;
        color: white;
        position: absolute;
        width: 149%;
        height: 1px;
        left: -25%;
        top: -14.4%;
        border: 2px;
      }
      .line_horizontal-2 {
        background-color: white;
        color: white;
        position: absolute;
        width: 149%;
        height: 1px;
        left: -25%;
        top: 16.6%;
        border: 2px;
      }
      .line_horizontal-3 {
        background-color: white;
        color: white;
        position: absolute;
        width: 149%;
        height: 1px;
        left: -25%;
        top: 48.9%;
        border: 2px;
      }
      .line_horizontal-4 {
        background-color: white;
        color: white;
        position: absolute;
        width: 149%;
        height: 1px;
        left: -25%;
        top: 81.5%;
        border: 2px;
      }

      .line_vertical-1 {
        background-color: white;
        color: white;
        -webkit-transform: rotate(90deg);
        position: absolute;
        width: 36.5%;
        height: 1px;
        left: -12.5%;
        top: 33.9%;
        border: 2px;
      }

      .line_vertical-2 {
        background-color: white;
        color: white;
        -webkit-transform: rotate(90deg);
        position: absolute;
        width: 36.5%;
        height: 1px;
        left: 79.5%;
        top: 33.9%;
        border: 2px;
      }
      .task-desc {
        max-width: 1100px;
        width: 100%;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 70px;
        color: white;
      }
    }
  }
}
