@import "../../../../global.scss";


.tops-slider {
  //   border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
  max-width: 1200px;
  width: 100% ;

  .WebVersion {
    max-width: 1400px;
    margin: 0 ;
    width: 100% ;
    margin-top: 50px;
    @include mobile{
      display: none;
    }
  }
  .containerMobile {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    margin-top: 25px;
    display: none;
    @include mobile{
      display: block;
      width: calc(18rem + 25px) !important;
    }
  }
  .slider-img img {
    opacity: 1;
    width: 348px;
    height: 278px;
  }

  .slick-arrow.slick-prev {
    z-index: 3;
  }
  .slick-next:before,
  .slick-prev:before {
    color: white;
  }
  .center .slick-center slider-img {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.08);
    -moz-transform: scale(1.2);
    transform: scale(1);
    z-index: 1;
  }
  .center slider-img {
    transition: all 0.3s ease;
    transform: scale(1);
  }

  .slick-arrow.slick-prev btn {
    height: 100px;
    
  }
  .slick-arrow.slick-next::before {
    content: "\02C3";
    font-size: 100px;
    position: absolute;
    right: 0;
    top: -2rem;
    @include mobile{
    display: none;
    }
  }
  .slick-arrow.slick-prev::before {
    position: absolute;
    content: "\02C2";
    font-size: 100px;
    top: -2rem;
    left: 0;
    @include mobile{
     display: none;
    }
  }
}


.slick-list {
  
  img {
    object-fit: cover;
  }
  @include mobile {
   
    
  }
}
.dots-pag {
  margin-top: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  @include mobile{
    width: 20px;
    height: 20px;
    margin-top: 25px; 
    }
}
.slick-dots {
  position: initial !important;
  bottom: auto !important;
  display: flex !important;
  gap: 30px;
  color: white;
  justify-content: center;
  font-size: 32px;
  background: transparent;
  font-weight: 400;
  @include mobile{
    width: 20px;
    height: 20px;
    font-size: 11px;  
    gap: 5px;
    }
    li {
      @include mobile {
        margin: 0 !important;
      }
    }
}
.slick-dots {
  .slick-active {
    div {
      margin-top: 50px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid coral !important;
      @include mobile{
        width: 20px;
        height: 20px;
        margin-top: 25px; 
        border: 1px solid coral !important;
          
        }
      
    }

  }
}
.slick-slide {
  @include mobile{
    display: flex !important;
  }
  
}

