@import "../../../../global.scss";



.slides_card {
  background-color: black;
  border: 0.758092px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  text-align: center;

  @include mobile {
    height: 14rem;
    width: 9rem;
  }
  h2 {
    // margin-top: 54px;
    font-size: 18px;
    font-weight: bold;

    @include mobile{
      font-size: 9px;
      -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    }
  }
  p {
    font-size: 13px;
    line-height: 161%;
    color: #ffffffcc;

    @include mobile{
      font-size: 7px;
      margin-bottom: 10px;
    }
  }

  .SlidersBTN {
    @include mobile {
      font-size: 11px;
      height: 30px;
      display: flex;
      align-items: center;
    }
  }
}
.title_container {
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  @include mobile {
    margin-top: 20px;
  }
 

  h2 {
    color: white;
  }
}
.body_container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  // height: 40%;
  p {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}

.slides_card:not(first-child) {
  margin-left: 30px;
  margin-right: 0;

  @include mobile{
    margin-left: 0;
  }
}
