.slides_card {
  background-color: black;
  border: 0.758092px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 500px !important;
  max-height: 500px !important;
  // text-align: center;

  h2 {
    margin-top: 54px;
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-size: 13px;
    line-height: 161%;
    color: #ffffffcc;
  }
}
.title_container {
  width: 60%;
  text-align: center;
  min-height: 105px;
  
  h2 {
    color: white;
  }
}
.body_container {
  width: 55%;
  height: 40%;
  p {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}

.slides_card:not(first-child) {
  margin-left: 30px;
}
