@import "../../global.scss";



.main_slides_card {
  background-color: black;
  border: 1px solid #FFFFFF;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;  
  

  @include mobile {
    height: 200px;
    width: 9rem;
    padding-bottom: 30px;

  }
  h2 {
    // margin-top: 54px;
    font-size: 18px;
    font-weight: bold;

    @include mobile{
      font-size: 9px;
    }
  }
  p {
    font-size: 13px;
    line-height: 161%;
    color: #ffffffcc;

    @include mobile{
      font-size: 7px;
    }
  }
  .title_container {
    width: 100%;
    text-align:start ;
    margin-top: 40px;
    padding-left: 24px;
    @include mobile{
      padding-left: 12px;
      margin-top: 20px;
    }
   
   
  
    h2 {
      color: white;
      // margin-bottom: 0;
      @include mobile {
        margin-top: 10%;
      }
    }
  }
  .body_container {
    width: 100%;
    padding-left: 24px;
    // margin-bottom: 20px;
    @include mobile{
      padding-left: 12px;
    }
    p {
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 2;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      display: -webkit-box;
      display: box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      margin-bottom: 0;
      height: 22px;
    }
  }

}
.img_container_main {
  height: 60%;
 width: 100%;
  img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: all 0.3s;
    aspect-ratio: 3 / 4;
    object-fit: unset;
    &:hover {
      filter: none;
    }
}}



.main_social-icons {
        
        width: 100%;
        margin-left: -10px;
        color: rgba(255, 255, 255, 0.541);
        a:not([href]) {
          cursor: default !important;
        }

        @include mobile {
          margin-left: -20px;
        }

        .icons {
          width: 20px;
          height: 20px;

          @include mobile {
             
            width: 10px;
            height: 10px;
          }
        }
        ul {
          
          display: flex;
          gap: 17px;
          @include mobile {
            gap: 5px;
          }
        }
      }
 .main_position {
   position: absolute;
   padding-top: 2px;
   padding-right: 16px;
   padding-left: 16px;
   padding-bottom: 2px;
   background: white;
   top: 48%;
  //  max-width: 110px;
   
   p {
    color: black;
    font-size: 16px;
    margin: 0;
   }
   @include mobile {
    padding-top: 1px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 1px;
    top: 45%;
    max-width: 110px;
    p {
      font-size: 8px;
      margin-bottom: 0;
    }
   }
 }
.founder_position_container {
  position: absolute;
  width: 100%;
}