@import '../../../../global.scss';

.details_headline {
    text-align: center;
    h1 {
        color: white;
        font-weight: lighter;
        @include mobile {
            font-size: 20px;
        }
    }
    p{
        color: white;
    }
}
.details_img_wrapper {
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    img {
        max-width: 600px;
        max-height: 390px;
        @include mobile {
            max-width: 300px;
            max-height: 190px;
        }

    }
}
.text_container {

    
    margin-top: 70px;
    h2 {
        color: white;
        font-weight: 700;

    }
    h3 {
        color: white;
        font-weight: 700;
        @include mobile {
            font-size:20px;
            font-weight: 350;
        }
    }
    p {
        color: white;
        margin-top: 70px;
        @include mobile {
            margin-top: 35px;
            font-size: 16px;
        }
    }
    iframe {
        margin-left: 24%;
        @include mobile {
            margin-left: 13%;
            max-width: 70vw;
            max-height: 220px;
        }
    }
    
}