.text_utility_section {
  margin-top: 15%;
  text-align: center;
  width: 90%;
  h2 {
    color: white;
    font-weight: lighter;
    font-size: 40px;
  }
  p {
    color: #ffffffcc;

    margin-top: 56px;
    font-size: 28px;
  }
}
.creative_utility_section {
  margin-bottom: 15%;
}
