@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@100;300;400;500;600;800;900&family=Roboto:ital,wght@0,400;0,500;0,900;1,100&display=swap");

//***=============Colors===============***//////

$primary-color: #050505;
$primary-color2: rgba(86, 86, 86, 0.6);
$primary-color3: radial-gradient(
  110.29% 110.29% at 97.66% 31.26%,
  rgba(233, 237, 237, 0.8) 0%,
  rgba(252, 0, 252, 0.64) 20.11%,
  rgba(76, 210, 178, 0.336) 44.03%,
  rgba(11, 12, 11, 0.424) 74.02%,
  rgba(0, 0, 0, 0.8) 100%
);
$primary-color4: linear-gradient(
  270deg,
  #00fffe 0%,
  rgba(57, 162, 185, 0.88) 51.35%,
  #6060ff 100%
);
$primary-color5: #fff;
$primary-color6: #3774d0;

//***=============Main===============***//////

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $primary-color;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

//***=============Typography===============***//////

// Title///
h1 {
  font-weight: 300;
  font-size: 67px;
  line-height: 81px;
  text-transform: uppercase;
}

// Report /////
h2 {
  font-size: 40px;
  line-height: 48px;
  
}

// All paragraph///
p {
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
}
